body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    text-align: center;
}

header, nav, div, section, article,
aside, footer {
    cursor: -webkit-grab;
}

h1, p {
    color: #777;
    background: #ebebeb;
}

/* 
==========================
        BOXES
==========================
*/

.container {
    height: 300px;
    width: 960px;
    margin: 3% auto 10px auto;
}

.lead {
    height: 300px;
    width: 960px;
    display: block;
    margin-bottom: 10px;
}

.rect {
    background: #ebebeb;
    height: 100px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.sqr {
    background: #ebebeb;
    width: 475px;
    height: 300px;
}

.ch-sqr {
    color: #ebebeb;
    background: #777;
    padding: 10%;
    margin: 20% 5%;
}


/* 
==========================
        POSITION
==========================
*/

.left {
    float: left;
    margin-right: 5px;
}

.right {
    float: right;
    margin-left: 5px;
}


/* 
==========================
        PSUEDO
==========================
*/

section:hover {
    z-index: 1;
    position: relative;
    transform: scale(1.1);
    transition: 0.7s;
    transition-duration: 0.7s;
    border-style: dotted;
    border-color: black;
}


/* 
==========================
        ANIMATIONS
==========================
*/

.fall {
    overflow: hidden;
    position: relative;
    animation-name: fall;
    animation: fall 2s;
}
@keyframes fall {
    from {
        top: -300px;}
    to {
        top: 0px;}
}

.rise {
    overflow: hidden;
    position: relative;
    animation-name: rise;
    animation: rise 2s;
}
@-webkit-keyframes rise {
    from {
        bottom: -300px;}
    to {
        bottom: 0px;} 
}
@keyframes rise {
    from {
        bottom: -300px;}
    to {
        bottom: 0px;}
}

.flip {
    -webkit-animation: flip 2s;
    animation: flip 2s;
}
@keyframes flip {
    from {
        opacity: 0;
        transform: rotateY(180deg);}
    to {
        opacity: 1;
        transform: rotateY(0deg);}
}

.scale-x {
    animation-name: scale-x;
    animation: scale-x 2s;
}
@keyframes scale-x {
    from {
        height: 0px;
        opacity: 0;
        transform: scaleY(0);}
    to {
        transform: rotate(0.5turn);
        opacity: 1;
        transform: scaleY(1);}
}